body{
    background-color: #1979a9;
}
h1{
    font-size: 30px;
    color: dimgrey;
}
h2{
    font-size: 30px;
    color: dodgerblue;
}
.small{
    font-size: 20px;
}
.uppercase{
    text-transform: uppercase;
}
.small.uppercase{
    color: lightseagreen;
}
h1 span{
    color: mediumvioletred;
}